[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none

# IDE0008: 明示的な型の使用
dotnet_diagnostic.IDE0008.severity = none

# IDE0055: 書式設定を修正
dotnet_diagnostic.IDE0055.severity = silent
